<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OpenVX Tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>OpenVX.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>OpenVXTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>Package.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>VxTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>openvx-accelerate.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>openvx-c_model-lib.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>openvx-c_model.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>openvx-debug-lib.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>openvx-debug.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>openvx-debug_k-lib.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>openvx-extras-lib.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>openvx-extras.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>openvx-extras_k-lib.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>openvx-helper.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>openvx-lib.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>vx_debug.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>vxu.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0673FB6F580D4B2184570FC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AF019363FB342B0AE4AADB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D04D9F4D5924E20A1174194</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>209324C13CC14B718802CD54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22070AA31B40134700C5E52A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22070AB31B40150800C5E52A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22127E8C1BDA6AA7001BCDF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22127EA41BDA6AA7001BCDF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22127EAF1BDA6AA7001BCDF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22127EC31BDA6B0D001BCDF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22DC55D51B433C0D009F5B28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>307548A3F42A465C91D8AB36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>438C7408DF33493CA68AF7F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51D258E544374DE6885C57AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60944D530AA6451A9A3251A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BFBDE3F77964153927EA1FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D7F0117EAED46D4A72D472B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84D3E917F86F4C14B392EE0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87718DD931AF493587F8AAEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>893565394DE14471BD4E2D10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DE77FE4DFE3461A862AAE55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F2BE3EBF8E640579D27D783</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>953D084714004856AA0B74C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98EC9695BD674CD7A52563A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DC815AE40E9447FB85A255A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E28CA6B782334D5CACDB57D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
